/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARIABLES */
:root {
    --primary-color: #d9d9d9;
    --secondary-color: #8F3E3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 3% 100px;
    z-index: 2;
    margin: auto;
}

.nav-brand a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link a {
    margin-right: 80px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: font-weight 0.4s ease;
}

.nav-link a:hover {
    color: #fff;
    font-weight: 900;
}


.join-button {
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #8F3E3E;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.join-button:hover {
    cursor: pointer;
    color: var(--primary-color);
    background-color: black;
    transition: all ease-out 0.4s;
}


/* Hero Section */
.hero-section {
    position: relative;
    background-image: url("../assets/images/bgImage.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 14, 14, 0.5); /* Update the color value */
}

.hero-text-container {
    margin: 100px;
    color: white;
}


.hero-text-container h1 {
    margin-top: 30%;
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: 600;
}

.btn-book-trip {
    background-color: black;
    padding: 20px 30px;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.btn-book-trip img {
    width: 13%;
    margin-left: 20px;
}

/* Join Next Trip Option */
.join-next-trip-section {
    background-color: #d6d6d6;
}

.next-trips-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.activities-desc {
    padding: 100px 80px;
    /* text-align: center; */
    height: 100vh; 
}


.activities-desc h2 {
    color: #8F3E3E;
    font-size: 16px;
    font-weight: 500;
}

.activities-desc h1 {
    font-weight: 500;
    font-size: 34px;
    margin: 21px 0;
}

.activities-desc h3 {
    font-size: 18px;
    font-weight: 500px;
    margin: 58px 0 20px;
}

.activities-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.activities-container li {
    margin: 19px;
    color: rgba(0, 0, 0, 0.5);    ;
}

/* images carousel */
.images-carousel {
    /* margin: 80px ; */
    margin: 250px 110px 50px;
}

.carousel-images img {
    width: 80%;
    margin: auto;
}

/* book trip button */
.btn-book-now {
    position: relative;
    background-color: #211818;
    border: none;
    border-radius: 5px;
    padding: 20px 45px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 100px;
    cursor: pointer;
}

.btn-book-now:hover {
    background-color: #443434;
}


/* WHY JOIN US SECTION */
.why-join-us-section {
  margin: 100px;
  text-align: center;
  background-color: #fff;
}

.why-join-us-section h2 {
    color: #8F3E3E;
    font-size: 16px;
    font-weight: 500;
}

.why-join-us-section h3 {
    font-size: 34px;
    color: #211818;
    margin: 45px;
}

/* value preps */
.value-prep-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-box {
    border: black solid 2px;
    margin: 50px;
}
.circle {
    background-color: #F5F5F5;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}