/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARIABLES */
:root {
    --primary-color: #d9d9d9;
    --secondary-color: #8F3E3E;
    --dark-button-color: #252847;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

html {
    scroll-behavior: smooth;
}
  
a {
    text-decoration: none;
}

.navbar {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: flex-start;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 3% 100px;
    z-index: 2;
    /* margin: auto; */
    /* background-color: yellow; */
}


.nav-brand img {
    display: inline;
    width: 25%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link a {
    margin-right: 80px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: font-weight 0.4s ease;
}

.nav-link a:hover {
    color: #fff;
    font-weight: 900;
}


.join-button {
    padding: 15px 20px;
    background-color: #fff;
    color: var(--dark-button-color);
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.join-button:hover {
    cursor: pointer;
    background-color: var(--dark-button-color);
    color: #fff;
    transition: all ease-out 0.4s;
}


/* Hero Section */
.hero-section {
    position: relative;
    background-image: url("../assets/images/bgImage.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 14, 14, 0.5); /* Update the color value */
}

.hero-text-container {
    margin: 100px;
    color: white;
}


.hero-text-container h1 {
    margin-top: 30%;
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: 600;
}

.btn-book-trip {
    background-color: var(--dark-button-color);
    padding: 20px 30px;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn-book-trip img {
    width: 13%;
    margin-left: 20px;
}

/* Join Next Trip Option */
.join-next-trip-section {
    background-color: #d6d6d6;
}

.next-trips-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.activities-desc {
    padding: 100px 80px;
    /* text-align: center; */
    /* height: 100vh;  */
}


.activities-desc h2 {
    color: #8F3E3E;
    font-size: 16px;
    font-weight: 500;
}

.activities-desc h1 {
    font-weight: 500;
    font-size: 34px;
    margin: 21px 0;
}

.activities-desc h3 {
    font-size: 18px;
    font-weight: 500px;
    margin: 58px 0 20px;
}

.activities-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.activities-container li {
    margin: 19px;
    color: rgba(0, 0, 0, 0.5);    ;
}

/* images carousel */
.images-carousel {
    /* margin: 80px ; */
    margin: 250px 110px 50px;
}

.carousel-images img {
    width: 80%;
    margin: auto;
}

/* book trip button */
.btn-book-now,
.btn-join-club {
    position: relative;
    background-color: var(--dark-button-color);
    border: none;
    border-radius: 5px;
    padding: 20px 45px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 100px;
    cursor: pointer;
}

.btn-book-now:hover,
.btn-join-club:hover,
.btn-book-trip:hover {
    background-color: white;
    color: var(--dark-button-color);
    transition: all ease-out 0.4s;  
    padding: 20px 45px;
    border: 1px solid var(--dark-button-color);  
}

/* WHY JOIN US SECTION */
.why-join-us-section {
  margin: 100px;
  text-align: center;
  background-color: #fff;
}

.dark-heading {
    color: #8F3E3E;
    font-size: 16px;
    font-weight: 500;
}

.sub-heading {
    font-size: 34px;
    color: #211818;
    margin: 45px;
    font-weight: 500;
}

/* value preps */
.value-prep-grid {
    display: flex;
    /* grid-template-columns: auto auto auto; */

    /* margin-top: 100px; */
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

.grid-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; 
    /* height: 200px;  */
    border: 1px solid #000000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 50px;

    padding: 80px 20px 30px;
}
  
.circle {
  position: absolute;
  background-color: #F5F5F5;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}
  
.circle {
    position: absolute;
    background-color: #F5F5F5;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.circle img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.btn-join-club {
    margin-top: 5%;
}


/* TESTIMONIAL SECTION */
.our-offer-section {
    margin: 100px 200px;
    text-align: center;
}

.testimonial-texts {
    text-align: center;
    padding: 0 80px;
}
.testimonial-section {
    margin: 100px;
}

.testimonial-carousel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 5px;
}

.testimonial-grid {
    background-color: rgba(143, 62, 62, 0.2);
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    text-align: start;
    margin: auto;
}

.quote {
    font-size: 1.5em;
    font-weight: 900;
    color: #8F3E3E;
}

.testimonial-img {
   margin-top: 20px;
   display: flex;
   align-items: center;
   gap: 30px;
}

.name {
    font-size: 20px;
    color: #8F3E3E;
    font-weight: 500;
}

.testimonial-img img {
    width: 100px;
    display: flex;
    border-radius: 50%;
}

/* OFFER SECTION */
/* .our-offer-section {
    margin: 100px;
    padding: 50px;
} */

.paragraph {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

/* FOOTER SECTION */
footer {
    background-color: rgba(217, 217, 217, 0.5);
    padding: 120px 150px;
}

footer a {
    color: #000000;
}

footer img {
    width: 40%;
}

.flex-container {
    margin: 0 auto;
}

.footer-heading {
    margin-bottom: 15px;
}

footer .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* align-items: center; */
    text-align: center;
}

footer p {
    margin-top: 10px;
    font-size: 18px;
}


.contact,
.brand,
.community {
    text-align: start;
}

.brand {
    margin-left: 60px;
}

.social {
    text-align: center;
}

.social-icons {
    list-style-type: none;
    display: flex;
    /* width: 60%; */
    gap: 50px;
    justify-content: space-between;
}


.fa-brands {
    color: #C7C5C5;
    font-size: 40px;
}